<ion-view title="{{'title_reports' | translate}}">
  <ion-pane>
    <ion-content padding="false" class="has-header">
      <div class="item item-input-inset">
        <label class="item-input-wrapper margin-right-8px" name="search-people">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" id="searchText" ng-model="searchText" ng-model-options='{debounce: 700}' ng-change='searchPerson(searchText)'
                 style="" placeholder="{{'search_searchfield' | translate}}">
        </label>
      </div>
      <ion-list>
        <div ng-repeat="report in reportService.get() track by $index">
          <ion-item class="item-thumbnail-left" href="#/vida/report-search/report-detail/{{$index}}">
            <img ng-if="reportService.hasMedia(report)" ng-src="{{reportService.getMediaFilePathByIndex(report, 0)}}"
                 err-src="{{reportService.getPlaceholderImage()}}">
            <img ng-if="!reportService.hasMedia(report)" ng-src="{{reportService.getPlaceholderImage()}}">
            <h2>{{formService.getById(formService.uriToId(report.form)).schema.title}}</h2>
          </ion-item>
        </div>
      </ion-list>
    </ion-content>
  </ion-pane>
</ion-view>