<ion-view title="{{formService.getCurrentForm().schema.title}}">
  <ion-content padding="true" >
    <form>
      <div class="item" ng-class="{'item-select': prop.enum, 'item-input': prop.type !== 'textarea', 'item-input-text': prop.type === 'textarea'}"
           ng-if="propName !== 'photos'"
           ng-repeat="(propName, prop) in formService.getCurrentForm().schema.properties">
        <span class="input-label" style="float: left;">{{propName}}:</span>

        <a ng-if="prop.description" class="button button-icon ion-ios-information-outline"
           ng-click="showHint(prop.description)"></a>

        <input ng-if="prop.type === 'string' && !prop.enum" type="text" placeholder="{{prop.description}}" ng-model="report.data[propName]"
               autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>

        <textarea ng-if="prop.type === 'textarea'" update-height-on-change style="width: 100%;" placeholder="{{prop.description}}" ng-model="report.data[propName]"
                  autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></textarea>

        <select ng-if="prop.enum" id="injury" ng-model="report.data[propName]">
          <option value="" > -- choose -- </option>>
          <option ng-repeat="item in prop.enum" >{{ item }}</option>
        </select>

        <input ng-if="prop.type === 'datetime'" type="datetime-local" ng-model="report.data[propName]"/>
      </div>

      <button ng-if="formService.getMediaPropName(formService.getCurrentForm())" ng-click="showCameraModal()" style="" class="button icon ion-camera button-block">&nbsp;Add Photo</button>
      <ion-list>
        <ion-item ng-repeat="mediaHash in reportService.getMedia(report)">
          <img style="display: block; max-height: 300px; margin: auto;"
               ng-src="{{reportService.getMediaFilePathByMediaHash(report, mediaHash)}}"
               err-src="{{reportService.getPlaceholderImage()}}"/>
        </ion-item>
      </ion-list>
      <div>
        <button class="button button-positive button-block" ng-click="save()">{{'button_save' | translate}}</button>
      </div>
    </form>
  </ion-content>
</ion-view>
