<ion-view title="{{'title_reports' | translate}}">
  <ion-content padding="true" >
    <form>
      <div class="item item-divider">
        <span>Sync</span>
      </div>

      <div class="item item-icon-left" ng-click="sync()">
        <i class="icon ion-android-sync" ng-show="!isLoading" ng-click="sync()"></i>
        <ion-spinner class="icon" icon="spiral" ng-show="isLoading"></ion-spinner>
        <span>Last Success</span>
        <span am-time-ago="lastSuccess"></span>
      </div>
      <div class="item item-icon-left" ng-click="sync()">
        <i class="icon ion-clipboard"></i>
        <span>Reports Are Pending!</span>
        <span class="badge badge-assertive">2</span>
      </div>

    </form>

    <div class="spacer" style="width: 300px; height: 40px;"></div>

    <form>
      <ion-list>
        <div class="item item-divider">
          Create Report
        </div>
        <a class="item item-icon-right" ng-repeat="(key, value) in forms" href="#/vida/report-create/report-detail/{{key}}">
          {{value.schema.title}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </ion-list>
    </form>
  </ion-content>
</ion-view>
