<ion-view title="{{'title_tracking' | translate}}">
  <ion-pane>
    <ion-content padding="true" class="has-header">
      <form>
        <ion-toggle ng-model="tracking" ng-change="trackingChanged()" toggle-class="toggle-positive">{{'tracking' | translate}}</ion-toggle>
        <label class="item item-input item-icon-right">
          <span class="input-label">{{'Last Success'}}</span>
          <span ng-if="configService.getConfig().trackinglastSuccess" class="input-label" am-time-ago="configService.getConfig().trackinglastSuccess"></span>
          <span ng-if="!configService.getConfig().trackinglastSuccess">Never</span>

          <ion-spinner icon="ripple" ng-show="isLoading"></ion-spinner>
        </label>
      </form>
    </ion-content>
  </ion-pane>
</ion-view>